<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>device_name</key>
			<string>设备1</string>
			<key>channel_info</key>
			<array>
				<dict>
					<key>channel_num</key>
					<integer>0</integer>
					<key>channel_name</key>
					<string>走道</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>办公室</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>行政室</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>门口</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>0</integer>
					<key>channel_name</key>
					<string>街道1</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>街道2</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>0</integer>
					<key>channel_name</key>
					<string>前台</string>
					<key>device_num</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>device_name</key>
			<string>设备2</string>
			<key>channel_info</key>
			<array>
				<dict>
					<key>channel_num</key>
					<integer>0</integer>
					<key>channel_name</key>
					<string>办公室</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>后台</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>前台</string>
					<key>device_num</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>device_name</key>
			<string>设备3</string>
			<key>channel_info</key>
			<array>
				<dict>
					<key>channel_num</key>
					<integer>0</integer>
					<key>channel_name</key>
					<string>后台</string>
					<key>device_num</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>channel_num</key>
					<integer>2</integer>
					<key>channel_name</key>
					<string>前台</string>
					<key>device_num</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
